<div class="content-section-c">
      <h3>
        登録が完了しました。
      </h3>
      <%= link_to 'My Closet', "/users/#{current_user.id}/outfits", method: :get %>
      <%= link_to '新規登録', "/users/#{current_user.id}/outfits/new", method: :get %>
</div>