<div class="content-section-c">

    <div class="container">

      <h3>
        削除が完了しました。
      </h3>
      <%= link_to 'My Closet', "/users/#{current_user.id}/outfits", method: :get %>

      </div>
</div>