<div class="content-section-c">

  <div class="container">

  <p class="lead">


  <div class="content-big clearfix">
  <h2> すべて </h2>


  <% @outfits.each do |outfit| %>
    <div class ="content-small">
 <%= render partial: "outfits/outfit", locals: { outfit: outfit }%>
    </div>
    <% end %>
  </div>

  <%= link_to '新規登録', "/users/#{current_user.id}/outfits/new", class:"btn btn-primary withripple", method: :get %>

  </p>

  </div>

</div>
        <!-- /.container -->