<div class="content-section-c">

    <div class="container">

          <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <p class="lead">
          <h2>
          新規登録
          </h2>

          <%= form_for [@user, @day] do |f| %>

            <%= f.select :day, [["月曜日", "mon"], ["火曜日", "tue"],["水曜日", "wed"],["木曜日", "thu"],["金曜日", "fri"],["土曜日", "sat"],["日曜日", "sun"]] %><br /><br />

            <%= f.submit "新規登録", class:'btn btn-lg btn-primary btn-block' %>

            <% end %>

                </p>
                </div>
          </div>
      </div>

</div>