<div class="content-section-c">

  <div class="container">

          <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <p class="lead">

<h2>本日のコーデ</h2>

<% @coordinates.each do |coordinate| %>
<%= image_tag coordinate.outfit.image ,:width => '150' %><br />
<%= link_to '削除', "/users/#{current_user.id}/days/#{@day}/coordinates/#{coordinate.id}", method: :delete %><br />
<% end %>

<%= link_to 'マイページ', "/users/#{current_user.id}", method: :get %>
<%= link_to 'コーデの追加', "/users/#{current_user.id}/days/#{@day}/coordinates/new", method: :get %>

                </p>
                </div>
          </div>
      </div>

</div>

</div>
